#about-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#about-title {
    position: absolute;
    top: 17%;
    left: 5%;
    font-size: 42px;
    z-index: 1;
    font-family: 'Inter';
    font-weight: bold;
}

#view-select-container {
    position: absolute;
    top: 24%;
    left: 6%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 24px;
    justify-content: flex-end;
    text-align: end;
    color: darkgray;
    z-index: 1;
}

.view-select-btn {
    padding: 0px 2px 2px 12px;
}

.view-select-btn:hover {
    cursor: pointer;
    background: linear-gradient(to top, #da5a10 40%, rgb(0, 0, 0, 0) 40%);
}

.view-select-btn.selected {
    background: linear-gradient(to top, #da5a10 40%, rgb(0, 0, 0, 0) 40%);
}

.about-background-container {
    position: absolute;
    background-color: lightgray;
    top: 35%;
    left: 10%;
    padding: 8px;
    width: 40%;
    z-index: 1;
}

.background-title {
    font-size: 24px;
    margin: 8px 0px 8px 0px;
    font-weight: bold;
    color: white;
    max-width: 35%;
    background: linear-gradient(to top, #da5a10 50%, rgb(0, 0, 0, 0) 40%);
    padding: 0px 12px 4px 8px;
    font-family: 'Montserrat';
}

#academy-title {
    max-width: 80%;
}

.about-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

@media (max-width: 390px) {
    #about-title {
        color: white;
        font-size: 42px;
    }

    .about-image {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }

    #view-select-container {
        top: 17%;
        left: 60%;
    }

    .about-background-container {
        top: 27%;
        width: 87%;
        left: 4%;
    }

    .background-title {
        font-size: 22px;
        font-weight: bold;
        max-width: 50%;
    }

    #academy-title {
        max-width: 100%;
        font-size: 21px;
    }
}