body {
    margin: 0;
    padding: 0;
}

@media (min-width: 391px) {
    .App {
        min-width: 1280px;
    }
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
}